APP_NAME=InmoGest
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8001

DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=inmogest
DB_USERNAME=inmogest
DB_PASSWORD=secret
DB_ROOT_PASSWORD=rootsecret

BACKEND_PORT=8001

RUN_MIGRATIONS=true
RUN_SEEDERS=false
